.show-carrousel {
    display: flex;
}

.carrousel-exit {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: white;
    font-size: 28px;
    margin-bottom: 1em;
    margin-right: .8em;
}

.unshow-carrousel {
    display: none;
}

.timeline-moments-media {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 90%;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 17%;
}
