.main-div {
  background-color: white;
  position: fixed;
  bottom: 87px;
  width: 100vw;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.major-div {
  background-image: url("https://i.ibb.co/mCyKcns/profile-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: sticky;
  height: 100vh;
  width: auto;
}

.body-friends {
  background-image: url("https://i.ibb.co/mCyKcns/profile-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: sticky;
  height: 100vh;
  width: auto;
}

a,
p,
h2 {
  font-family: 'Roboto', sans-serif;
}

#friends-div {
  height: 60vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.each-friends-container {
  display: flex;
  justify-content: space-between;
  margin: 2vh 5vh;
  border-bottom: 0.3px solid #D3D7DB;

  img {
    height: 1.6em;
    cursor: pointer;
  }
}

.add-new {
  text-align: right;

  a {
    color: midnightblue;
    margin-top: 15vh;
    margin-right: 2vh;
  }

  background-color: white;
  margin-left: 65vw;
  padding: .4em .4em;
  border-radius: 16px;
  cursor: pointer;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-color: transparent;
  justify-content: center;

  a {
    color: midnightblue !important;
  }

  &:active {
    background-color: rgb(222, 244, 248) !important;

  }
}

.inputs-div {
  width: 80vw;


  input {
    border-radius: 20px;
  }
}

.submit-cancel-buttons {
  display: flex;
  justify-content: space-between;
  margin: -1vh 1vh 1vh 1vh;

  a,
  button {
    background-color: transparent;
    border: 0px;
    font-size: 4.4vh;
    color: black;
  }

  img {
    height: 1em;
  }
}

.delete-button {
  img {
    color: red;
    text-align: right;
    height: 1em;
  }
}

.friend-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.adding-form {
  display: flex;
  justify-content: center;
}

.friend-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
