.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("demo-bg.png");
    background-position: center;
}

.play-button {
    padding: .7em;
    width: 100px;
}
