body {
  background-image: url("https://i.ibb.co/wLGMFrB/Screen-Shot-2020-02-11-at-20-44-24.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}


.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-placement {
  position: fixed;
  top: 87px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.white {
  color: white;
}

.animation {
  width: 100%;
  height: 26em;
  margin: 0;
}

.new-content {
  justify-content: center;
  align-items: center;
}

.play-button {
  padding: .7em;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  position: fixed;
  bottom: 97px;
  width: 100%;
  color: white;

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 24px;

  }

  #white a {
    color: white;
  }

  button {
    background-color: #4E67B7;
    padding: .8em 2.2em;
    border-radius: 16px;
    cursor: pointer;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-color: transparent;
    justify-content: center;
    width: 70%;
    color: white;

    &:active {
      background-color: rgb(222, 244, 248) !important;
      color: #4E67B7 !important;
    }
  }
}

.log-out-button {
  background-color: #4E67B7;
  padding: .6em 2em;
  border-radius: 16px;
  cursor: pointer;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-color: transparent;
  justify-content: center;
  a {
    color: white !important;
  }

  &:active {
    background-color: rgb(222, 244, 248) !important;
    a {
      color: #4E67B7 !important;
    }
  }
}
