// Import page-specific CSS files here.
@import "home";

.index-container {
    padding: 2.6em;
    background-image: url("/app/assets/images/timeline-bg.png");
}

.timeline-feed {
    padding: .2em;
}

.moment-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    a {
        img {
            margin: 1em !important;
        }
    }
}

.timeline-title {
    border-bottom: 6px solid #ffcc00;
}
