// Import page-specific CSS files here.
@import "home";
@import "cards";

.index-container {
  padding: 1.4em;
  height: 80vh;
}

.here {
  font-family: 'Roboto', sans-serif;
}

#top-container {
  margin: .8em;
}

#button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .2em;
  font-family: 'Roboto', sans-serif;

  a:hover,
  button:hover {
    color: black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline-border: none;
    outline-color: transparent;
    outline-width: 0.01px;
    outline-style: transparent;
  }

  button:focus {
    box-shadow: 0 0 10px palevioletred;
    background-color: midnightblue !important;
    color: white;
    opacity: 80%;
  }
}


.moment-button {
  border: none !important;
  padding: .6em .9em;
  background-color: white !important;
  margin: 0 0.25rem;
  height: 2.5rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  opacity: 50%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: black;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

}


.timeline-title {
  h1 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }
}

.timeline-dates {
  margin-left: 1.2em;
  margin-top: .4em;
}

#secondary-tabs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#video-tab {
  flex-direction: column;
}

#image-tab {
  flex-direction: column;
  overflow: hidden;
}

#text-tab {
  flex-direction: column;
  overflow: hidden;
}

#timeline-container-default {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.media {
  width: 100px;
  height: auto;
  margin: .4em;
}

.tab-media {
  width: 18em;
  height: auto;
  margin: .4em;
}

.moment-card {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  align-self: end;
  font-family: 'Roboto', sans-serif;

  a {
    img {
      &:hover {
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.text-content {
  padding: 1em;
  margin: .2em;
  width: auto;
  position: relative;
  flex-wrap: wrap;
}


.moment-text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  background-color: white;
  margin-left: 2.6em;


  a {
    img {
      margin: 1em !important;
    }
  }
}


.timeline-button {
  background: white;
  opacity: 50%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: black;
  padding: .2em;
}


// .all-button {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.head-text {
  color: #3e4149;
}

.simple-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, .172549) 0 6px 12px 0;
  cursor: pointer;
  width: 400px;
  height: 55px;
  overflow: hidden;

  input.here {
    width: 100%;
    height: 100%;
    text-align: left;

    &:focus {
      outline: none;
    }
  }
}

.search {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.here {
  border: hidden;
  border-right: 5px;
  margin-left: 14px;
  padding: none;
  box-shadow: 38px 38px 71px #f5f5f5,
    -38px -38px 71px #ffffff;
}

.btn-flat {
  background-image: url("https://i.ibb.co/418V7b8/search.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 15px;
  display: inline-block;
  flex-grow: 1;
  height: 55px;
  width: 10px;
  line-height: 40px;
  padding: 0 2em;
  border: 0;
  color: transparent;
  background-color: white;
}

.flexbox {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ."". . .";
}
