// Import page-specific CSS files here.
@import "home";

.index-container {
    padding: 2.6em;
    background-image: url("timeline-bg.png");
}

.timeline-feed {
    padding: .2em;
}

.moment-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
}
