#play-container {
    // background-color: black;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2%;
    flex-direction: column;

    h1 {
        color: white;
    }
}

.play-bg-gradient {
    background-image:
        linear-gradient(to top right,
            #170707, black);
}

.play-exit-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: white;
    font-size: 28px;
    margin-bottom: 1em;
    margin-right: .8em;
}

.play-moments-media {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 90%;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 17%;
}

.moments-media {
    max-width: 100%;
    min-width: 80%;
    width: auto;
    height: auto;
    display: flex;
    position: fixed;
    background-repeat: repeat;
}

.moments-video {
    max-height: 70vh !important;
    width: auto;
    display: flex;
}

.show {
    display: flex;
}

.unshow {
    display: none !important;
}

.text-box {
    text-align: center;
    margin: 1em;
    color: white;
}

.backgroundimage {
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 674px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}


@media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:80.063em) {
    /* hi-res laptops and desktops */
}
