#play-container {
    background-color: black;
    margin: 0 auto;
    position: relative;

    h1 {
        color: white;
    }
}

.play-exit-icon {
    color: white;
    font-size: 26px;
    margin-bottom: .7em;
}

.play-moments-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.moments-media {
    max-width: 100%;
    min-width: 80%;
    width: auto;
    height: auto;
}

.show {
    display: flex;
}

.unshow {
    display: none;
}

.text-box {
    text-align: center;
    margin: 1em;
    color: white;
}


@media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:80.063em) {
    /* hi-res laptops and desktops */
}
