.users-name {
  display: flex;
  justify-content: center;
  margin-top: 0;
  color: white;

  h2 {
    text-align: center;
    color: midnightblue;
  }
}

.profile-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log-out {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  margin-top: 1em;
}

.profile-avatar {
  img {
    height: auto;
    width: 12em;
    text-align: center;
  }
}

#profile-menu {
  background-color: white;
  position: fixed;
  bottom: 85px;
  width: 100vw;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding-top: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 4vh;
  background-image: url("https://i.ibb.co/RcJ6fC4/chevron.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 260px;
}

li {
  border-bottom: 0.3px solid #D3D7DB;

  width: 284px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.profile-edit-container {
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: 0vh 2vh;

  input {
    border-radius: 20px;
  }
}
