<div class="each-friends-container">
  <div class="friends-name">
    <p><%= friend.name.capitalize %> <br> <%= friend.email %></p>
  </div>
  <div class="edit-button">
    <%= link_to "", edit_friend_path(friend), :class=>"fas fa-pencil-alt" %>
  </div>
</div>
