<div class="add-new">
  <%= link_to  "+ Add Friend", new_friend_path %>
</div>

<div class="main-div">
  <div id="friends-div">
    <% @friends.each do |friend| %>
    <div class="each-friends-container">
      <div class="friends-name">
        <%= friend.name.capitalize %> <br> <%= friend.email %></p>
      </div>
      <div class="edit-button">
        <%= link_to "", edit_friend_path(friend), :class=>"fas fa-pencil-alt" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
