<%= render 'shared/navbar' %>

<div class="add-new">
  <%= link_to  "+ Add Friend", new_friend_path %>
</div>

<div class="main-div">
  <div id="friends-div">
    <% @friends.each do |friend| %>
      <%= render "friend_index", friend: friend %>
    <% end %>
  </div>
</div>
