<%= link_to  "Add a new Friend", new_friend_path %>

<div>
  <% @friends.each do |friend| %>
  <p> <%= friend.name.capitalize %> <br> </p>
  <p>  <%= friend.email %></p>
  <%= link_to 'Edit', edit_friend_path(friend) %>
  <% end %>
</div>
