<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon-white fixed-bottom">

  <button type="button" class="btn btn-transparent rounded"><i class="fas fa-home fa-lg"></i></button>

  <button type="button" class="btn btn-transparent rounded"><i class="fas fa-box-open fa-lg"></i></button>

  <button type="button" class="btn btn-transparent rounded"><i class="fas fa-user-alt fa-lg"></i></button>

</div>
