<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon-white fixed-bottom">

  <%= link_to root_path do %>
    <button type="button" class="home-button" src="https://i.ibb.co/T2cjvm3/blank-home-button.png" alt="blank-home-button" border="0"></i></button>
  <% end %>

  <%= link_to moments_path do %>
    <button type="button" class="btn btn-transparent rounded"><i class="fas fa-box-open fa-lg"></i></button>
  <% end %>

  <%= link_to root_path do %>
    <button type="button" class="btn btn-transparent rounded"><i class="fas fa-user-alt fa-lg"></i></button>
  <% end %>

</div>
