<%= render 'shared/navbar' %>

<div class="home-container">
  <div class="logo-placement">
    <h1>softmind</h1>
  <div>

  <% if @unseens %>
    <div class="new-content">
      <%= video_tag("Butterfly_softmind.mp4", type: 'video/mp4', autoplay: 'autoplay', loop: 'true', preload: 'auto', muted: 'true', class: 'animation') %>
    </div>
  <% end %>
    <div class="play-button">
        <button class="" id="white">
            <%= link_to 'Play', :controller => :pages, :action => :play %>
        </button>
    </div>
  </div>
</body>
