
<div class="home-container">
  <div class="logo-placement">
    <h1>softmind</h1>
  <div/>
    <div class="new-content">
        <p>Hello sunshine! You’ve got 70 hours  of content from your loved ones</p>
    </div>

    <div class="play-button">
        <button class="">
            <%= link_to 'Play', :controller => :pages, :action => :play %>
        </button>
    </div>
</div>
