<body>
  <div class="home-container">
    <div class="logo-placement">
      <h1>softmind</h1>
    <div/>
    <div class="new-content">
      <p></p>
    </div>
    <div class="play-button">
        <button class="">
            <%= link_to 'Play', :controller => :pages, :action => :play %>
        </button>
    </div>
  </div>
</body>
