
<div class="home-container">
    <h1>Softmind</h1>

    <div class="new-content">
        <h3>You got new content!</h3>
    </div>

    <div class="play-button">
        <button class="">
            <%= link_to 'Play', :controller => :pages, :action => :play %>
        </button>
    </div>
</div>
