<%= render 'shared/navbar' %>

<div class="home-container">
  <div class="logo-placement">
    <h1>softmind</h1>
  <div>

  <% if @unseens %>
    <div class="new-content">
    <%= cl_video_tag("newmoments_ready_mppdbf.mp4", autoplay: 'autoplay', loop: 'true', preload: 'auto', muted: 'true', class: 'animation') %>
    </div>
  <% end %>
    <div class="play-button">
        <button class="">
            <%= link_to 'Play', :controller => :pages, :action => :play %>
        </button>
    </div>
  </div>
</body>
