<h1>Play View </h1>

<div id="slider">
    <p>SLIDER</p>
</div>

    <% @moments.each do |moment| %>

        <div id="play-moments-box">

                <span><%= moment.id %></span>

                <% if moment.media.present? %>

                    <% if Moment::VIDEO_TYPES.include?(moment.media.file.format) %>
                        <div class="play-moments-media">
                            <p><%= cl_image_tag("#{moment.media.file.public_id}.jpg", :resource_type=>"video") %></p>
                        </div>

                        <% elsif Moment::IMG_TYPES.include?(moment.media.file.format) %>

                            <div class="play-moments-media">
                                <p><%= link_to (cl_image_tag moment.media, :transformation => { :fetch_format=>:auto, :crop=>"mfit", :gravity=>"faces" }), moment_path(moment) %></p>
                            </div>

                        <% elsif Moment::AUDIO_TYPES.include?(moment.media.file.format) %>

                            <div class="play-moments-media">
                                <p>Audio file TODO: How to display AUDIO?</p>
                            </div>

                        <% end %>
                <% end %>
                <p><%= moment.text_content %></p>
            <% end %>
        </div>
