.navbar {
  z-index: 100;
  opacity: .9;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  justify-content: space-evenly;
}

.navbar-lewagon-white {
  background-color: transparent;
  position: absolute;
  height: 87px;
  background: #FFFFFF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}

button.small {
  height: auto;
  border-color: transparent;
  background-color: transparent;

  img {
    height: 30px;
  }
}
